html, body {
	font-size: 1rem;
	font-family: "Segoe UI", Verdana, Arial;
	height: 95%;
	padding: 10px 10px 10px;
	margin: 20px 250px 5px;
}
main {
    margin: 2rem auto;
    width: 32rem;
    height: 30rem;
}
h1 {
    color: blue;
    font-size: 1.5rem;
    font-family: Verdana
}
