/* Identificadores CSS : */

#soma, #subtracao, #multiplicacao, #divisao, resto {
    font-size: 1.5rem;
    font-family: verdana;
    padding: 1rem;
    background-color: #ffea66;

}

#soma{
    color: green;
}

#subtracao{
    color: red;
}

#multiplicacao{
    color: blue;
}

#divisao{
    color: violet;
}

#resto {
    color: orange;
}

/* Classe CSS: */

.numero {
    font-size: 1.5rem;
    font-family: verdana;
    padding: 1rem;
    color: #a0a0a0;
    background-color: #515151;
}